/*Colors

black: #000000 
gray: #191919
blue: #192e4c
light blue: #254573
lightest: #315c9a
white; white;

*/
html, body{
	height: 100%;
	margin: 0;
	overflow-x: hidden;  
}
body{
	font-family: arial, sans-serif;
	font-size: 1.5em;
}

/*Part A: Hidden Panel*/
nav{
	display: block;
	height: 100%;
	width: 100%;
	background: #317c9a;
}
a{
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 1.5em;
	background: #192e4c;
	color: silver;
	text-decoration: none;
	-webkit-transition: background .2s;
}
a:hover, a:active{
	background: #254573;
}

/*Part B: The Trigger*/
#nav-handler{
	display: none;
}
#menu-button{
	display: block;
	padding: 1.5em;
	background: gray;
	vertical-align: middle;
}
#menu-button:hover{
	cursor: pointer;
}

/*Moves Content Wrapper to Reveal Menu*/
#nav-handler:checked ~ #content-wrapper {
	transform: translate3D(80%,0,0); /* X value must be same as Nav width */
	-moz-transform: translate3D(80%,0,0); /* X value must be same as Nav width */
	-webkit-transform: translate3D(80%,0,0); /* X value must be same as Nav width */
}

/*Part C Default View*/
#content-wrapper{
	position: fixed;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: .5em;
	transform: translate3D(0,0,0);
	-moz-transform: translate3D(0,0,0);
	-webkit-transform: translate3D(0,0,0);
	transition: -moz-transform .25s ease-in-out;
	-moz-transition: -moz-transform .25s ease-in-out;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	overflow: auto;
}

/*Responsive to Mobile Screens*/
@media only screen and (max-device-width: 480px){
	body{
		font-size: 1em;
	}
	#content-wrapper{
		background: pink;
	}
	#content-wrapper:after{
		content: "Responsive-test"
	}
}

@media only screen and (min-device-width: 481px) {
	#content-wrapper{
		background: rgba(255,255,255, 0.7);
	}
}