html, body, ul{
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
}
a{
	color: black;
	text-decoration: none;
}
#container{
	display: block;
	width: 1024px;
	margin: 0 auto;
}
nav{
	display: block;
	position: fixed;
	width: inherit;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	display: block;
	height: 1.2em;
	padding: 12px 20px; 
	background: silver;
}
nav ul li a:active{
	background: gray;
}
nav{
	background: gray;
}
.hang-right{
	float: right;
}
#ui-transition-list{
	display: block;
	overflow: auto;
	padding: 44px 0 0 0;
}
ul.transition-list-category {
	display: block;
	width: 100%;
	height: 350px;
  white-space: nowrap;
  overflow: auto; 
	-webkit-overflow-scrolling: touch;
}
.transition-list-category li{
	display: inline-block;
}
.transition-list-category li a{
	display: block;
	height: 250px;
	width: 300px;	
	background: silver;
	margin: 5px;
	text-align: center;
	line-height: 5em;
	font-size: 3em;
	color: gray;
}
.transition-list-category li a:active{
	background: #333;
}

/*PAGE FADE IN*/

#ui-transition-list{
  display: block;
  -webkit-animation: rock 0.3s ease-in-out;
}

@-webkit-keyframes rock {
   0% {opacity: 0; zoom: .9;}
  100% {opacity: 1; zoom: 1;}
}