html, body{
	font-family: arial, helvetica, sans-serif; 
}
#header{
	border-bottom: 1px solid black;
}
#header h1{
	margin: 0;
}
#header p{
	margin: 0.5em 0;
	color: gray;
}
#container{
	display: block;
	margin: 0 auto;
	max-width: 700px;
}
article{
	margin: 7em 0;
}
article h1{
	font-size: 2.2em;
	margin: 0;
}
article a{
	font-weight: bold;
	text-decoration: none;
	color: rgb(2,139,165);
}
article a:hover{
	border-bottom: 1px solid rgb(2,139,165);
}
/*article h1 a:hover:after{
 content:  "\203A";
 margin: 0 5px; 
}
*/
article p{
	margin: 0.2em 0;
	line-height: 1.3em;
}
article p span{
	color: gray;
	display: block;
}

img{
	display: block;
	width: 100%;
	margin: 10px 0; 
	border: 1px solid silver;
}
